body {
  font-family: var(--font-family);
}

.source-image {
  width: 340px;

  &.preview {
    border: 1px solid black;
  }
}

.placeholder.image {

  &.image {
    height: 340px;
    width: 340px;
  }
}